body {
    background-color:#606060;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#container {
    height: 100vh;
    min-width: 400px;
    max-width: 1000px;
    margin: 0 auto;
}
